@page
@model KomiyasaWebApp.Pages.TextAnalyticsModel
@{
    ViewData["Title"] = "TextAnalytics";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Text Analytics に読み込ませるテキストを入力し、Submit を押してください。
    <div>Button Demo</div>
    <form method="post">
        <input type="submit" value="Button1" />
    </form>
</body>
</html>

