@page
@model KomiyasaWebApp.Pages.TextAnalyticsModel
@{
    ViewData["Title"] = "TextAnalytics";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>
    <p>This page is under construction as of @ViewData["TimeStamp"]</p>
</body>
</html>

